/pruebaVector/nbproject/private/
/pruebaVector/build/
/pruebaVector/dist/
/cloudClient/build/
/xd/nbproject/private/
/xd/build/
/testProcedures/nbproject/private/
/testProcedures/build/
/pruebaProcedure/nbproject/private/
/pruebaProcedure/build/
/pruebaProcedure/dist/
/cloudCommon/dist/
/cloudWebClient/nbproject/private/
/cloudWebClient/build/
/pruebaSerializacionXML/nbproject/private/
/pruebaSerializacionXML/build/
/pruebaInfoServerSocket/nbproject/private/
/pruebaInfoServerSocket/build/
/cloudClient/dist/
/cloudWebClient/dist/
/catchPublicHostWeb/nbproject/private/
/catchPublicHostWeb/build/
/catchPublicHostWeb/dist/
/cloudWebServer/nbproject/private/
/cloudWebServer/build/
/cloudWebServer/dist/
/minimunUse/nbproject/private/
/minimunUse/build/
/serializer/nbproject/private/
/serializer/build/
/exampleJavaEE/nbproject/private/
/exampleJavaEE/exampleJavaEE-war/nbproject/private/
/exampleJavaEE/exampleJavaEE-ejb/nbproject/private/
/testWS/nbproject/private/
/testWS/build/
/pruebasXML/nbproject/private/
/pruebasXML/build/
/pruebaWSConsumer/nbproject/private/
/pruebaWSConsumer/build/
/testWSConsumer/nbproject/private/
/testWSConsumer/build/