/pruebaVector/nbproject/private/
/pruebaVector/build/
/pruebaVector/dist/
/cloudClient/build/
/xd/nbproject/private/
/xd/build/
/testProcedures/nbproject/private/
/testProcedures/build/
/pruebaProcedure/nbproject/private/
/pruebaProcedure/build/
/pruebaProcedure/dist/